/.ipynb_checkpoints/
/venv/
/Distillation_Column_data.bak
/Distillation_Column_data.xls
/main.py
/.idea/.gitignore
/.idea/DataAnalysis.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml